html, body {
	background-color: #FFF4EF;
}

h1, h2, h3, h4, h5, h6, form label, .dropdown .dropdown-toggle {
	color: #f16722;
}

.nav.in li a {
	cursor: pointer;
}

.navbar {
	background-color: #fff;
}
	
.navbar-btn {
	margin-left: 15px;
	margin-right: 15px;
}

.nav-pills li a {
	background-color: #fff;
	color: #777;
	border: 1px solid #E7E7E7;
}

.nav-pills li a:hover, .nav-pills li a.active, .nav-pills li a.active:hover {
	background-color: #E7E7E7;
	color: #555;
}

span#entity-image-menu img {
	width: 18px;
	margin-right: 5px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #E2E2E2;
    color: #555;
}

.navbar-nav .divider {
    background-color: #e5e5e5 !important;
    height: 1px !important;
    margin: 9px 0 !important;
    overflow: hidden !important;
}

.page-header {
    margin-top: 0px;
}

.panel-default a {
    color: #333333;
}
 
 .panel-blue {
    border-color: #236AA7;
}

 .panel-red-two {
    border-color: #F49E9C;
}

.panel-red-two a {
    color: #F49E9C;
}

 .panel-red-two .panel-heading {
    background-color: #F49E9C;
    border-color: #F49E9C;
    color: #fff;
}
 
 .panel-yellow-two {
    border-color: #F9D7A7;
}

.panel-yellow-two a {
    color: #F9D7A7;
}

 .panel-yellow-two .panel-heading {
    background-color: #F9D7A7;
    border-color: #F9D7A7;
    color: #fff;
}
 
 .panel-blue .panel-heading {
    background-color: #236AA7;
    border-color: #236AA7;
    color: #fff;
}
 
.panel-orange {
	background-color: #fff;
	border-color: #dddddd;
}

.panel-orange .panel-heading {
	background-color: #f16722;
	border-color: #dddddd;
	color: #fff;
}

.panel-orange .button-column .btn {
	color: #fff;
}

.panel-orange a {
	color: #f16722;
}

.panel-orange a.btn {
	color: #fff;
}

.panel-orange a:hover {
	color: #f16722;
}

.panel-orange .items a.btn:hover, .panel-orange .btn:hover {
	color: #fff;
}

a[rel=tooltip] {
	display: inline-block;
}

.tooltip-inner {
	white-space: pre-wrap;
}

.login-panel.panel {
	background-color: #fff;
}

.login-panel.panel.panel-orange .panel-heading {
	text-align: center;
}

.bg-primary {
    background-color: #337ab7 !important;
}

.bg-info {
    background-color: #d9edf7 !important;
}

.bg-warning {
    background-color: #fcf8e3 !important;
}

#login, #page-wrapper {
	background-color: #fff4ef;
}

.btn.btn-orange {
	background-color: #f16722;
	color: #fff;
}

.modal-header {
	border-radius: 6px 6px 0px 0px;
	background-color: #fff4ef;
}

.modal-footer {
	border-radius: 0px 0px 6px 6px;
	background-color: #efefef;
}

.bootstrap-timepicker .input-group-addon {
	cursor: text;
}

.red {
	color: #d9534f !important;
}

a.logout-one {
	color: #fff !important;
	background-color: #d9534f;
}

a.logout-one:hover {
	background-color: #c9302c !important;
}

a.logout-two {
	color: #fff !important;
	line-height:1.3333333;
	border-radius:6px;
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
	margin-left: 15px;
	margin-right: 15px;
}

.margin-bottom {
	margin-bottom: 1em;
}

#entity-grid table img {
	margin: 0px 10px 0px 10px;
	width: 30px;
}

a.logout-two:hover {
	background-color: #c9302c !important;
	border-color: #ac2925 !important;
}

.text-orange {
	color: #f16722 !important;
}

.errorPage {
	color: #f16722;
	margin-top: 2em;
	text-align: center;
	font-size: 1.5em;
}

.livespell_textarea {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	width: 100%;
}

.livespell_textarea:focus {
	border: 1px solid red;
}

.livespell_textarea.ls_input, #bodyEvent___livespell_proxy {
	border-color: #ccc;
}

.livespell_textarea.ls_input:focus, #bodyEvent___livespell_proxy:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.pagination > li > a, .pagination > li > span {
    color: #F16722;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #F16722;
    border-color: #F16722;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #F16722;
}